<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css" />
    </head>
    <body>
        {{{ body }}}

        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <!-- Boostrap JS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Custom JS -->
        <script>
            const burgerList = $('#burgers'),
                burgerEntry = $('#burgerName')

            $('#submitBtn').on('click', function() {
                //Prevent page from reloading
                event.preventDefault();

                var burger = burgerEntry.val().trim();

                $.post('api/burger',{ burgerName: burger }, function(data) {
                    var id = data.insertId,
                        entry = $('<p>').text(`${id}. ${burger}`).attr('data-id', id);
                    
                    burgerList.append(entry);
                    burgerEntry.val('');
                });
            });
        </script>
    </body>
</html>