<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css" />
    </head>
    <body>
        {{{ body }}}

        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <!-- Boostrap JS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- Custom JS -->
        <script>
            $(function() {
                //Variable handles to DOM elements
                const $burgerList = $('#burgers'),
                    $devouredList = $('#devouredBurgers'),
                    $burgerEntry = $('#burgerName');

                //Adds click handler for submit button
                $('#submitBtn').on('click', function() {
                    //Prevent page from reloading
                    event.preventDefault();

                    //Get entry from burger
                    var burger = $burgerEntry.val().trim() || '';

                    if (burger === "") {
                        alert('Please enter a burger');
                    } else {
                        $.post('api/burger',{ burgerName: burger }, function(data) {
                            var id = data.insertId,
                                entry = $('<p>').text(`${id}. ${burger}`),
                                btn = $('<button>').text('Devour Me!').attr({
                                        class: 'btn btn-danger devourBtn',
                                        'data-id': id
                                    });
                            
                            //Append <p> and button to list
                            $burgerList.append(entry, btn);
                            $burgerEntry.val('');
                        });
                    }
                });

                //Event delegation for any created devour button
                $('#burgers').on('click', '.devourBtn', function() {
                    //Prevent page from reloading
                    event.preventDefault();

                    //Get id number to update database and handle to div
                    var id = parseInt($(this).attr('data-id')),
                        burger = $(`#${id}`);

                    //Send PUT request to update database
                    $.ajax({
                        url: `api/burger/${id}`,
                        type: 'PUT',
                    }).then(function(data) {
                        //Append <p> to devoured div
                        $($devouredList).append(burger.find('p'));

                        //Remove div from burgers list
                        burger.remove(); 
                    });
                });
            });
        </script>
    </body>
</html>