<h1>Eat-Da Burger</h1>
<ul id="burgers"></ul>
<ul id="devouredBurgers"></ul>
<form>
    <div class="form-group">
        <label for="burgerName">Burger Name</label>
        <input class="form-control" id="burgerName">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>