<div class="container">
    <h1>Eat-Da Burger</h1>
    <img src="/assets/img/burger.png" alt="burger" />
    <ul id="burgers"></ul>
    </ul>
    <ul id="devouredBurgers">
    
    </ul>
    <form>
        <div class="form-group">
            <label for="burgerName">Burger Name</label>
            <input class="form-control" id="burgerName">
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
    </form>
</div>